<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/admin-layout/layout}">
<head>
    <title>Index</title>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div layout:fragment="content">
    <table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Price
            </th>
            <th class="th-sm">Description
            </th>
            <th class="th-sm">Image
            </th>
            <th class="th-sm">Size
            </th>
            </th>
            <th class="th-sm">Color
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pro : ${products}">
            <td><span th:text="${pro.id}"></span></td>
            <td><span th:text="${pro.name}"></span></td>
            <td><span th:text="${pro.price}"></span></td>
            <td><span th:text="${pro.description}"></span></td>
            <td><span th:text="${pro.image}"></span></td>
            <td><span th:text="${pro.size}"></span></td>
            <td><span></span></td>
            <td>
<!--                <button type="button" class="btn btn-simple btn-success btn-icon android-search" th:href="@{products/detail/{id}(id=${pro.id})}"></button>-->
                <a th:href="@{products/{id}(id=${pro.id})}"><i style='font-size:24px' class='far fa-info-square'>&#xf044;</i></a>
                <a th:href="@{products/edit/{id}(id=${pro.id})}"><i style='font-size:24px' class='far'>&#xf044;</i></a>
                <a th:href="@{products/delete/{id}(id=${pro.id})}"><i class="fas fa-trash"></i></a>
                </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>