<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/loginn/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/loginn/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/loginn/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/css/util.css">
	<link rel="stylesheet" href="/loginn/css/main.css">


</head>
<body>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(/loginn/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
			</div>

			<form class="login100-form validate-form" th:action="@{/login}" method="post">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or
						password.</div>
				</div>
				<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
					<label class="label-input100" for="username">Username</label>
					<input class="input100" type="text" name="username" id="username" placeholder="Enter username">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
					<label class="label-input100" for="password">Password</label>
					<input class="input100" type="password" id="password"name="password" placeholder="Enter password">
					<span class="focus-input100"></span>
				</div>

				<div class="flex-sb-m w-full p-b-30">
					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div >
						<a href="#" class="txt1" >
							Forgot Password?
						</a>
					</div>
				</div>

				<div class="container-login100-form-btn" style="margin-bottom: 50px">
					<button type="submit" name="login-submit" id="login-submit" class="login100-form-btn" >
						Login
					</button>
				</div>

				<div>
                  <span>New user? <a href="/" th:href="@{/register}">Register
								here</a></span>
				</div>

			</form>
		</div>
	</div>
</div>

<script src="/loginn/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/loginn/vendor/animsition/js/animsition.min.js"></script>
<script src="/loginn/vendor/bootstrap/js/popper.js"></script>
<script src="/loginn/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/loginn/vendor/select2/select2.min.js"></script>
<script src="/loginn/vendor/daterangepicker/moment.min.js"></script>
<script src="/loginn/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/loginn/vendor/countdowntime/countdowntime.js"></script>
<script src="/loginn/js/main.js"></script>


</body>
</html>