<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/loginn/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/loginn/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/loginn/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet"  href="/loginn/css/util.css">
	<link rel="stylesheet" href="/loginn/css/main.css">


</head>
<body>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">



			<div class="login100-form-title" style="background-image: url(/loginn/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						REGISTRATION
					</span>
			</div>

			<form class="login100-form validate-form" th:action="@{/register}" th:object="${account}" method="post">
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
					<span class="label-input100">Username</span>
					<input id="username" class="input100" type="text" name="username"  th:field="*{username}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
					<span class="label-input100">Email</span>
					<input id="email" class="input100" type="text" name="email"  th:field="*{email}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
					<span class="label-input100">Password</span>
					<input id="password" class="input100" type="password" name="pass"  th:field="*{password}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Confirm Password is required">
					<span class="label-input100">Confirm Password</span>
					<input id="confirmPassword" class="input100" type="password" name="pass"  th:field="*{confirmPassword}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Phone is required">
					<span class="label-input100">Phone</span>
					<input id="phone" class="input100" type="text" name="phone"  th:field="*{phone}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Address is required">
					<span class="label-input100">Address</span>
					<input id="address" class="input100" type="text" name="username"  th:field="*{address}">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn" style="margin-bottom: 50px">
					<button  class="login100-form-btn" type="submit">
						Registration
					</button>
				</div>

				<div>
                  <span>Already registered? <a href="/" th:href="@{login}">Login
								here</a></span>
				</div>

			</form>
		</div>
	</div>
</div>

<script src="/loginn/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/loginn/vendor/animsition/js/animsition.min.js"></script>
<script src="/loginn/vendor/bootstrap/js/popper.js"></script>
<script src="/loginn/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/loginn/vendor/select2/select2.min.js"></script>
<script src="/loginn/vendor/daterangepicker/moment.min.js"></script>
<script src="/loginn/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/loginn/vendor/countdowntime/countdowntime.js"></script>
<script src="/loginn/js/main.js"></script>


</body>
</html>